@font-face {
    font-family: 'tech';
    src: url('fonts/AstroSpace-0Wl3o.otf') format('opentype'), url('fonts/AstroSpace-0Wl3o.otf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'indian';
    src: url('fonts/Mahaputra.ttf') format('opentype');
    font-weight: normal;
    font-weight: normal;
}
*{
    margin: 0px;
    padding: 0px;

    }


body{
    background-color: #96B9F2;
}
a.externo::after{
    content: '\1F517';
    font-size: 0.8em;
    
}

header{
    background-image: linear-gradient(to bottom, #5E99FA, #ABC9FB);
    color: white;
    font-size: 10px;
    height: 200px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.329);
    
}
header > h1{
    font: 6em 'indian';
    font-weight: 900;
    color: rgb(187, 4, 4);
    padding-top: 30px;
    text-align: center;
    border-radius: 5px;
}

header > p{
    font: 15px 'Segoe UI';
    color: rgb(161, 30, 30);
    text-align: center;
    padding-bottom: 10px;
    font-weight: 700;
}
strong{
    background-color: lightcoral;
    color: white;
}

nav{            
    padding-top: 7px;
    text-align: center;
    border-radius: 5px;
}

nav > a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 30px;
    padding-left: 30px;
    
}

#a:hover, #b:hover, #c:hover, #d:hover{
    background-color: #5E99FA;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    text-decoration: underline;
    transition-duration: 1s;
    
}

main{
    background-color: white;
    margin: auto;
    min-width: 320px;
    max-width: 800px;
    padding: 20px;
    overflow: auto;
}

main img.peq{
    max-width: 350px;
    display: block;
    margin: auto;
}

section{
    font: normal normal 1em 'Segoe UI';


}
section#dois{
    font: normal normal 1em 'Segoe UI';
    padding-top: 30px;

}

section > h1{
    font: normal normal 2em 'indian';
    color: yellow;
    padding: 10px;
    padding-top: 20px;
    background-image: linear-gradient(to right, #2b6877, transparent);
    border-radius: 20px;
}

section > p{
    margin-bottom: 10px;
    line-height: 1.5em;
    padding: 10px;
    text-align: justify;
    font: normal normal 1em;
    text-indent: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section > h2{
    background-image: linear-gradient(to right, rgb(71, 146, 175), transparent);
    border-radius: 20px;
    color: yellow;
    font-weight: 600;
    padding: 5px;
    font: normal normal 2em 'indian';
    padding-left: 20px;
}

img.imagens{
    display:block;
    margin: auto;


}

source.telacel{
    background-color: #2b6877;
    display: block;
    width: 220%;
}


div.video{
    background-color: #ffffff;
    display: block;
    padding: 20px;
    margin: 0px -20px 30px -20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-style: solid;
}

aside{
    display: block;
    margin: auto;
    background-color: rgb(201, 250, 250);
    max-width: 700px;
    border-radius: 20px;
    box-shadow: 5px 7px 6px 0px rgba(0, 0, 0, 0.192);



}

aside > h3{
    font: normal normal 2em 'indian';
    color: rgb(255, 255, 0);
    padding: 10px;
    padding-left: 20px;
    background-image: linear-gradient(to right, rgb(44, 107, 107), transparent);
    border-radius: 20px 20px 0px 0px;


}
aside > p{
    
    padding: 20px;
    margin: auto;
    text-indent: 20px;
    text-align: justify;
    line-height: 1.5em;
}

aside > em > p{
    
    padding: 20px;
    margin: auto;
    text-indent: 20px;
    text-align: justify;
    line-height: 1.5em;
}
aside > ul{
    padding: 30px;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
