
@font-face {
    font-family: 'titulo';
    src: url('fonts/moon_get-Heavy.ttf') format('opentype');
    font-weight: normal;
    font-weight: normal;
}
:root{
    --gradient: radial-gradient(circle, #cca949, transparent 70%)
}

*{
    margin: 0px;
    padding: 0px;

    }

div#topo{
    background-color:#cca949;

    font: normal bold 1em 'arial';
    color: #000000;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 2px;



}

div#topo > span{
    margin: auto;
    padding-left: 40px;
    height: 20px;
    font: normal bold 1em 'arial';
    color: #382f16;


}

img#logo{
    position: relative;
    left: 10%;
    

}

body{
    background-color: #d6d6d6;
}
a.externo::after{
    content: '\1F517';
    font-size: 0.8em;
    
}

section > p > a{
    text-decoration: none;
    color: #E0001B;
    
}

section > p > a:hover{
    text-decoration: underline;
    color: #E0001B;
    font-weight: 500;
    
}

header{
    background-image: linear-gradient(to bottom, #303030, #000000);
    color: white;
    font-size: 10px;
    height: 200px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.329);
    border-style: solid;
    border-width: 1px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-color: #cca949;
    margin-bottom: 20px;

    
}


header > p{
    font: 15px 'Segoe UI';
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 10px;
    font-weight: 700;
}
strong{
    color: #e0001b;
    font-weight: 900;
}

.container{
    position: absolute;
    margin: auto;
    min-height: 50px;
    left: 40%;
    top: 60px;
    width: 400px;
}

.search-bar{
    margin: auto;
    background-color: #dadada;


    border-radius: 10px;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;

    height: 20px;
    font-size: 16px;
    color: #E0001B;
    margin: auto;
    
}

::placeholder{
    color: #E0001B;
}



nav{ 
    display: block;
    margin: auto;           
    padding: 6px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-image-source: var(--gradient);
    border-image-slice: 2;
    margin-top: -20px;

    
}

nav > a{
    text-align: center;
    text-decoration: none;
    color: #fff9ea;
    font-family: 'arial';
    font-size: 1.3em;
    margin-right: 30px;
    padding-left: 30px;

}

#a:hover, #b:hover, #c:hover, #d:hover{
    margin: auto;
    background-color: #aa8d3e;
    color: #ffffff;
    text-align: center;
    padding: 7px;
    transition-duration: 0.3s;
    margin-top: 0px;
    
}

main{
    background-color: white;
    margin: auto;
    min-width: 320px;
    max-width: 800px;
    padding: 20px;
    overflow: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}

main img.peq{
    max-width: 350px;
    display: block;
    margin: auto;
}

section{
    font: normal normal 1em 'Segoe UI';


}
section#dois{
    font: normal normal 1em 'Segoe UI';
    padding-top: 30px;

}

section > h1{
    font: normal normal 1.2em 'titulo';
    color: #e0001b;
    padding: 10px;
    padding-top: 20px;
    background-image: linear-gradient(to right, #000000 80%, transparent 150%);
    height: 30px;
    margin: auto;


}

section > p{
    margin-bottom: 10px;
    line-height: 1.5em;
    padding: 10px;
    text-align: justify;
    font: normal normal 1em;
    text-indent: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



section > h2{
    background-image: linear-gradient(to right, #000000 80%, transparent 150%);
    color: #e90a24;
    padding: 5px;
    font: normal normal 1em 'titulo';
    padding-left: 20px;
    height: 30px;
    padding-top: 20px;

}

img.imagens{
    width: 90%;
    display:block;
    margin: auto;


}

div.video{
    background-color: #ffffff;
    display: block;
    padding: 20px;
    margin: 0px -20px 30px -20px;
    padding-bottom: 57%;
    position: relative;
}


div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-style: solid;
}

aside{
    display: block;
    margin: auto;
    background-color: rgb(194, 194, 194);
    max-width: 700px;
    border-radius: 20px;
    box-shadow: 5px 7px 6px 0px rgba(160, 160, 160, 0.041);



}

aside > h3{
    font: normal normal 0.9em 'titulo';
    color: #e0001b;
    padding: 10px;
    padding-left: 20px;
    background-image: linear-gradient(to right, rgb(31, 31, 31)90%, transparent 150%);
    border-radius: 20px 20px 0px 0px;


}
aside > p{
    
    padding: 20px;
    margin: auto;
    text-indent: 20px;
    text-align: justify;
    line-height: 1.5em;
}

aside > em > p{
    
    padding: 20px;
    margin: auto;
    text-indent: 20px;
    text-align: justify;
    line-height: 1.5em;
}
aside > ul{
    padding: 30px;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
